/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


/* Core CSS */

*{
	margin: 0;
	padding: 0;
	bo1-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	padding: 30px;
}

.header{
	height: 95vh;
	background-image: linear-gradient(to right bottom,
		rgba(126,213,111,0.8),
		rgba(40,180,131,0.8)), 
	    url("../img/hero.jpg");
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.logo-box{
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo{
	height: 36px;
}

.text-box{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.header-title{
	color: white;
	text-transform: uppercase;
}

.heading-primary-main{
	position: relative;
	display: block;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 35px;
	animation: moveInLeft 3s;
}

.heading-primary-sub{
	position: relative;
	display: block;
	font-size: 20px;
	font-weight: 400;
	letter-spacing:17.5px;
	animation: moveInRight 7s;
}







/* Mobile Setting Portrait */

@media only screen and (max-width: 480px) and (orientation: portrait) {
	body{
		padding: 10px;
	}


	.text-box{
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.header-title{
		color: white;
		text-transform: uppercase;
	}

	.heading-primary-main{
		position: relative;
		display: block;
		font-size: 37px;
		font-weight: 400;
		letter-spacing: 20px;
		position: relative;
		left: 9.6px;
		text-align: center !important;
		animation: moveInLeft 4s;
	}

	.heading-primary-sub{
		position: relative;
		text-align: center;
		display: block;
		font-size: 20px;
		font-weight: bolder;
		font-weight: 400;
		letter-spacing:12px;
		animation: moveInRight 4s;
	}
}










/* Mobile Assets Landscape */
@media (max-width: 820px) and (max-height:470px ) and (orientation: landscape) {

body{
		padding: 12px;
	}

.logo-box{
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo{
	height: 20px;
}

.text-box{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.header-title{
	color: white;
	text-transform: uppercase;
}

.heading-primary-main{
	display: block;
	font-size: 45px;
	font-weight: 400;
	position: relative;
	right: 10px;
	letter-spacing: 35px;
}

.heading-primary-sub{
	display: block;
	position: relative;
	right: 10px;
	font-size: 16px;
	font-weight: 400;
	letter-spacing:15.5px;
}


}













